@using ALPPI.Models
@using ALPPI.DAO.Models;
@model List<Aluno>
@{
    int cont = 0;
    int cont2 = 0;
    int notaTotal = 0;
    String nmeLicao = ViewBag.momeLicao;
    int idLicao = ViewBag.idLicao;
}
@{
    Layout="~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title>Avaliações - ALPPI</title>
    <link rel="shortcut icon" href="~/Imagens/ICONE.ico" type="image/x-icon" />
</head>
<div class="LISTALICAO">
    <div class="jumbotron">
        <center><h2>Avaliações da Lição: @nmeLicao</h2></center><hr />
        <table class="table table-hover" style="margin-bottom: 100px" border="1">
            <tr class="table-primary">
                <th style="color: white; text-align:center; background-color: black" scope="col">#</th>
                <th style="color: white; text-align:center; background-color: black" scope="col">Aluno</th>
                <th style="color: white; text-align:center; background-color: black" scope="col">Nota (Numerica)</th>
                <th style="color: white; text-align:center; background-color: black" scope="col">Conceito</th>
            </tr>
            @foreach (Aluno a in Model) {
                <tr class="table-secondary">
                    @{cont2++;}
                    <td style="color: black; text-align:center;">@cont2</td>
                    @if (a.flg_Inativo == 0) {
                <td style="color: black; text-align:center;">@a.nme_Aluno <p style="color:darkgreen;">(INATIVO)</p></td>
                    }
                    else{
                        <td style="color: black; text-align:center;">@a.nme_Aluno <p style="color:darkred;">(INATIVO)</p></td>
                    }
                    @foreach (Resposta r in Model[cont].respostas) {
                        if (RespostaDAO.buscaidLicaoporResposta(r) == idLicao) {
                            notaTotal = r.nota + notaTotal;
                        }
                    }
                    <td style="color: black; text-align:center;">@notaTotal</td>
                    @if (notaTotal < 6) {
                        <td style="color: black; text-align:center;">D</td>
                    } else if (notaTotal >= 6 && notaTotal < 8) {
                        <td style="color: black; text-align:center;">C</td>
                    } else if (notaTotal == 10) {
                        <td style="color: black; text-align:center;">A</td>
                    } else {
                        <td style="color: black; text-align:center;">B</td>
                    }
                    @{
                        cont++;
                        notaTotal = 0;
                    }
                </tr>
            }
        </table>
    </div>
</div>

