@using ALPPI.Models
@model List<Professor>
@{int cont = 0;}

@{
    int retIdade(DateTime data) {
        int ano_atual = DateTime.Now.Year;
        int ano_niver = data.Year;
        int mes_atual = DateTime.Now.Month;
        int mes_niver = data.Month;
        int dif_ano = ano_atual-ano_niver;
        int dif_mes = mes_atual=mes_niver;
        if(dif_mes<0) {
            return dif_ano-1;
        } else {
            return dif_ano;
        }
    }
}

<head>
    <meta charset="utf-8" />
    <title>Lista de Professores - ALPPI</title>
    <link rel="shortcut icon" href="~/Imagens/ICONE.ico" type="image/x-icon" />
</head>
<div class="LISTALICAO">
    <div class="jumbotron">
        <center><h2>Lista de Professores</h2></center><hr />
        <table class="table table-hover" style="margin-bottom: 100px" border="0">
            <tr class="table-primary">
                <th style="color: white; background-color: black" scope="col">#</th>
                <th style="color: white; text-align:center; background-color: black" scope="col">Nome</th>
                <th style="color: white; text-align:center; background-color: black" scope="col">Matricula</th>
                <th style="color: white; text-align:center; background-color: black" scope="col">CPF</th>
                <th style="color: white; text-align:center; background-color: black" scope="col">Idade</th>
                <th style="color: white; text-align:center; background-color: black" scope="col">Email</th>
                <th style="color: white; text-align:center; background-color: black" scope="col" colspan="2">#</th>
            </tr>
            @foreach(Professor p in Model) {
                if (p.flg_Inativo == 0) {
                    <tr class="table-secondary">
                        <td style="color: black">
                            @{cont++;
                            }@cont
                        </td>
                        <td style="color: black; text-align:center;">@p.nme_Professor</td>
                        <td style="color: black; text-align:center;">@p.matricula_Professor</td>
                        <td style="color: black; text-align:center;">@p.cpf_Professor</td>
                        <td style="color: black; text-align:center;">@retIdade(p.dta_NascProfessor)</td>
                        <td style="color: black; text-align:center;">@p.eml_Professor</td>
                        <td style="color: black; text-align:center;">@Html.ActionLink("Editar", "EditarProfessor", "Administrador", new { id = p.idProfessor }, null)</td>
                        <td style="color: black; text-align:center;">@Html.ActionLink("Inativar", "InativarProfessor", "Administrador", new { id = p.idProfessor }, null)</td>
                    </tr>
                }
             }
        </table>
    </div>
</div>