<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/footer.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="menu">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <img src="~/Imagens/IFPR.png" height="50" width="80" />
            <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;ALPPI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Materias", "Materias", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Professores", "Professores", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Sobre", "Sobre", "Home", null, new { @class = "nav-link" })
                    </li>
                    @if(User.Identity.Name.Equals("")) {
                        <li class="nav-item">
                            @Html.ActionLink("Entrar como Aluno", "LogarAluno", "Conta", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Entrar", "LogarProfessor", "Conta", null, new { @class = "nav-link" })
                        </li>
                    } else {
                        <li class="nav-item">
                            @Html.ActionLink("Sair", "Deslogar", "Conta", null, new { @class = "nav-link" })
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
    @RenderBody()
    <footer class="footer__container">
        <div class="footer__logo__container">
            <div class="footer__logo">
                @*<a href="#"><img src="~/Imagens/Logo.png" alt="?" style="width:200px;height:100px;" /></a>*@
                <p style="font-size:2em;">MRM</p>
                <p style="font-size:1.5em;">Desenvolvimento de Softwares</p>
            </div>
        </div>
        <div class="footer__container__columns">
            <div class="footer__column">
                <br>
                <h6 class="footer__column__title">Redes Sociais</h6>
                <nav class="footer__nav__links">
                    <center>
                        <a href="#">Facebook</a><br>
                        <a href="#">Twitter</a><br>
                        <a href="#">Instagram</a><br>
                        <a href="#">LinkedIn</a><br>
                    </center>
                </nav>
            </div>
            <div class="footer__column">
                <br>
                <h6 class="footer__column__title">Fale Conosco</h6>
                <div class="footer__nav__links">
                    Contrate@MRM.com<br />
                    (41)97070-7070
                </div>
            </div>
        </div>

    </footer>
    <footer class="footer__copyright">
        <a href="#">MRM Softwares&copy</a>
    </footer>
</body>
</html>